* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

.mainBox {
    cursor: pointer;
    background-image: url("images/yes.jpg");
    margin: auto;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}